.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.textInput {
  height: 100px;
  width: 120px;
}

.containerDim {
  height: 500px;
  width: calc(100% - 40px);
}